<ul class="nav nav-tabs">
    <button id="create-event-button" class="btn">Create Event ⤵️</button>
</ul>
<div id="create-event"></div>
</p>
<ul class="nav nav-tabs">
    <button id="edit-events-button" class="btn">View/Edit Events ⤵️</button>
</ul>
<div id="edit-events"></div>
</p>
<ul class="nav nav-tabs">
    <button id="participant-button" class="btn">Participant Pairing ⤵️</button>
</ul>
<div id="participant"></div>
</p>
<ul class="nav nav-tabs">
    <button id="past-events-button" class="btn">Past Events ⤵️</button>
</ul>
<div id="past-events"></div>
</p>
<t id="note" class="badge bg-primary text-wrap">Note: For security reasons, only one card can be opened at a time.</t>