<ul class="nav nav-tabs">
    <button id="requested-events-button" class="btn">Requested Events ⤵️</button>
</ul>
<div id="requested-events"></div>
</p>
<!-- <ul class="nav nav-tabs">
    <button id="upcoming-events" class="btn">All Upcoming Public Events ⤵️</button>
</ul> -->
<div id="upcoming-events"></div>
</p>
<ul class="nav nav-tabs">
    <button id="joined-events-button" class="btn">Joined Events⤵️</button>
</ul>
<div id="joined-events"></div>
</p>
<!-- <ul class="nav nav-tabs">
    <button id="past-events" class="btn">Past Events ⤵️</button>
</ul> -->
<div id="past-events"></div>
</p>
<t id="note" class="badge bg-primary text-wrap">Note: For security reasons, only one card can be opened at a time.</t>