body {
    padding: 20px;
}

input {
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.modal-preauth{
    display: block;
}

.modal-postauth {
    display: none;
}